/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

/******* Header ************/

.header {
    width: 100%;
    height: 79px;
}

/******* Nav ***********/

.nav-links {
    display: flex;
    justify-content: space-between;
}

/******** Logo ************/

.logo {
    width: 161.09px;
    padding: 30px 50px 30px 0;
}

.logo img {
    width: 61.09px;
    height: 19px;
}

/******* Menu de navigation **********/

.menu {
    width: 30%;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu ul li a {
    display: flex;
    justify-content: space-between;
}

.menu a {
    font-size: 16px;
    color: black;
    cursor: pointer;
    padding-top: 1em;
}

.menu a:hover {
    color: #0065FC;
    background-size: 100% 0.15em;
    border-top-style: solid;
}

/****** Body **********/

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Trouver un héberegement ************/

.recherche {
    margin-top: 20px;
}


/****** Formulaire ************/

.formulaire {
    display: flex;
    
}

form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 377px;
    height: 49px;
    margin-top: 20px;
    align-items: center;
}

.formulaire i.fa-location-dot {
    display: flex;
    font-size: 18px;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
    border: 1px;
    width: 50px;
    height: 49px;
    justify-content: center;
    align-items: center;
    
}



.formulaire input[type="search"] {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
    width: 190px;
    height: 49px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    padding: 10px 0 10px 20px;
}

.formulaire input[type="submit"] {
    font-size: 18px;
    font-weight: bold;
    color: #F2F2F2;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    border: 1px;
    width: 132px;
    height: 49px;
}

.formulaire button  {
    background-color: #0065FC;
    height: 49px;
    width: 49px;
    border-radius: 15px;
    padding: 15px 15px 16px 15px;
    border: none;
    display: none;
}

.formulaire .switch {
    display: flex;
    align-items: center;
}

/******* Filters ************/

.filters {
    display: flex;
    align-items: center;
    padding-top: 30px;
    gap: 15px;
}

.filters h2 {
    font-size: 18px;
}

.filters-bloc-1 {
    display: flex;
    flex-direction: row;
    gap: 15px;

}

.filters-bloc-2 {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filters-choice {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 50px;
}

.filters-config {
    
    padding: 10px 15px 10px 15px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.filters-config i {
    font-size: 18px;
}


.filters-config:hover {
    background-color: #DEEBFF;
}

.filters-txt {
    padding-left: 10px;
    font-weight: bold;
    font-size: 17px;
}

/****** Infos **************/

.info {
    display: flex;
    align-items: center;
    padding: 10px 0 20px 0;
}

.info-logo {
    font-size: 12px;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    padding: 5px 10px 5px 10px;
}

.info p {
    padding-left: 10px;
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center
}

.hebergements-cards .bloc1 {
    display: flex;
    justify-content: space-between;
}

.hebergements-cards .bloc2 {
    display: flex;
    justify-content: space-between;
}

.hebergements-cards article {
    height: 207.25px;
    margin-right: 20px;
}

.hebergements-cards article:last-child {
    margin-right: 0px;
}

.hebergements-cards .card {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    margin-top: 33px;
}

.hebergements-cards img {
    width: 100%;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.hebergements-cards .card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-bottom: 4px;
    padding: 0 0 5px 10px;
    white-space: nowrap;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    padding: 0 0 10px 10px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    padding: 0 0 10px 10px;
}

.afficher-plus h2 {
    font-size: 18px;
    padding-top: 15px;
    margin-bottom: 0px;
}

.afficher-plus a {
    text-decoration: none;
    color: black;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/******* Activités **********/

.activites {
    padding-bottom: 15px;
}

.activites-cards {
    display: flex;
    padding: 30px 30px 30px 30px;
    gap: 30px;

}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    padding: 0;
}


.activites-cards img{
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}

.activites-cards .card-content {
    display: flex;
    justify-content: flex-start;
    padding: 5px 19px 5px 19px;
    
}

.activites-title h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0 0 30px;
}




/******* Footer ********/

footer {
    height: 163px;
    background-color: #F2F2F2;
    width: 100%;
    margin-top: 30px;
   
}

.contenu-footer {
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    margin: 0 auto;    
}

.footer-apropos {
    flex: 1 1 auto;
   align-self: auto;
}

.footer-hebergements {
    flex: 1 1 auto;
    align-self: auto;
}

.footer-assistance {
    flex: 1 1 auto;
   align-self: auto;
}

.footer-apropos ul {
    padding: 0%;
    margin: 0%;
}

.footer-hebergements ul {
    padding: 0%;
    margin: 0%;
}

.footer-assistance ul {
    padding: 0%;
    margin: 0%;
}


.footer-apropos ul li {
    padding-left: 20px;
    padding-bottom: 15px;
}

.footer-hebergements ul li {
    padding-left: 20px;
    padding-bottom: 15px;
}

.footer-assistance ul li {
    padding-left: 20px;
    padding-bottom: 15px;
}


.contenu-footer li {
    list-style-type: none;
}

.contenu-footer h2 {
    font-size: 18px;
    margin: 0%;
    padding: 20px 20px 15px 20px
}

.contenu-footer a {
    text-decoration: none;
    color: black;
}
   

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

@media screen and (max-width: 1440px) {
    .body {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-container {
        width: 100%;
        max-width: 1440px;
        padding: 0 50px;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
    }
}


/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {
    
  

    .recherche {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       
    }
    .filters {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 20px;
        gap: 0;
    }

    .filters-choice {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }


    .activites-cards img{
        height: 200px;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 767.98px) {

    .body {
        margin: 0 ;
        padding: 0;
    }

    .main-container {
        padding: 0;
        margin: 0;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        padding: 20px 0 0 0;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .menu {
        width: 100%;
        padding: 10px 0 15px 0;
        display: flex;
        text-align: center;
        margin: auto;
    }

    .menu .ul {
    display: flex;
    justify-content: space-around;
    }

    .menu a {
        padding-bottom: 1em;
    
    }

    .menu a:hover {
        color: #0065FC;
        background-size: 100% 0.15em;
        border-bottom-style: solid;
        border-top-style: none;
    }

    .recherche {
        margin-top: 0;
        padding: 0 20px;
    }

    .filters-choice {
    display: flex;
    flex-direction: column;
    
    }

    .filters-bloc-1 {
        display: flex;
        gap: 10px;
        width: 100%;
    }

    .filters-bloc-2 {
        display: flex;
        gap: 10px;
        width: 100%;
    }

    .filters-config {
        width: 100%;
        padding: 10px 15px 10px 15px;
        border: 2px solid #d9d9d9;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    .formulaire input[type="submit"] {
        display: none;
    }
    
    .formulaire button {
        background-color: #0065FC;
        height: 49px;
        width: 49px;
        border-radius: 15px;
        padding: 15px 15px 16px 15px;
        border: none;
        display: flex;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        font-size: 16px;
    }

    .info {
        padding: 80px 0 0 0;
    }

   .hebergements-and-populaires section {
        padding: 10px;
        
        border-radius: 0;
   }

    .hebergements {
        order: 2;
        background-color: transparent;
        padding: 10px;
       
    }

    .hebergements-cards .card {
        width: 98%;
        margin-top: 15px;
    }

    .hebergements-cards .bloc1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hebergements-cards .bloc2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hebergements-cards .card-rating i {
        font-size: 15px;
    }

    .afficher-plus h2 {
        padding-top: 0;
    }

    .populaires {
        order: 1;
        margin-top: 10px;
        
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 97%;
        margin-top: 15px;
    }

    .activites {
        padding: 20px;
    }

    .activites-title h1 {
       margin: 60px 0 20px 0;
    }

    .activites-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px;
    }

    .activites-cards .card {
        margin-top: 0;
    }

    footer {
        height: 461px;
        padding-left: 0px;
        
    }

    .contenu-footer {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }


}
