/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/************ Header ****************/

/******** Logo ************/

.logo {
    width: 161.09px;
    padding: 30px 50px 30px 0;
}

.logo img {
    width: 61.09px;
    height: 19px;
}


/******* Nav ***********/

.nav-links {
    display: flex;
    justify-content: space-between;
}


/******* Menu **********/

.menu ul {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.menu ul li {
    margin-right: 20px; 
}

.menu ul li:last-child {
    margin-right: 0; 
    margin-left: 30px;
}

.menu ul li a {
    display: flex;
    justify-content: space-between;
}

.menu a {
    font-size: 16px;
    color: black;
    cursor: pointer;
    padding-top: 16px;
}

.menu a:hover {
    color: #0065FC;
    background-size: 100% 0.15em;
    border-top-style: solid;
}

/****** Body **********/

body {
    display: flex;
    justify-content: center;
    margin: 0;
    gap: 35px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}


/****** Research bar ************/

.research {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.research-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.research-title p {
    margin: 0;
}


/****** Formulaire ************/

.formulaire {
    display: flex;
    
}

form {
    display: flex;
}

.formulaire i.fa-location-dot {
    display: flex;
    font-size: 18px;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
    border: 1px;
    width: 50px;
    height: 49px;
    justify-content: center;
    align-items: center;
    
}

.formulaire input[type="search"] {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
    width: 190px;
    height: 49px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    padding: 10px 0 10px 20px;
}

.formulaire input[type="submit"] {
    font-size: 18px;
    font-weight: bold;
    color: #F2F2F2;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    border: 1px;
    width: 132px;
    height: 49px;
}

.formulaire button  {
    background-color: #0065FC;
    height: 49px;
    width: 49px;
    border-radius: 15px;
    padding: 15px 15px 16px 15px;
    border: none;
    display: none;
}

.formulaire .switch {
    display: flex;
    align-items: center;
}


/******* Filters ************/

.filters {
    display: flex;
    align-items: center;
    gap: 15px;
}

.filters h2 {
    font-size: 18px;
}

.filters-bloc-1 {
    display: flex;
    flex-direction: row;
    gap: 15px;

}

.filters-bloc-2 {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filters-choice {
    display: flex;
    align-items: center;
    gap: 15px;

}

.filters-config {
    
    padding: 12px 19px 12px 19px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.filters-config i {
    font-size: 21px;
}


.filters-config:hover {
    background-color: #DEEBFF;
}

.filters-txt {
    font-weight: bold;
    font-size: 17px;
}

/****** Infos **************/

.info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-logo {
    font-size: 12px;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    padding: 5px 10px 5px 10px;
}

.info p {
    margin: 0;
}



/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    gap: 40px;
}

.hebergements-and-populaires section {
    
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}

.hebergements-cards article {
    height: 207.25px;
}

.hebergements-cards article:last-child {
    margin-right: 0px;
}

.hebergements-cards .card {
    width: 29.6%;
    display: flex;
    flex-direction: column;
}

.hebergements-cards .card:nth-child(3n) {
    margin-right: 0;
}

.hebergements-cards .card:nth-child(n+4) {
    clear: left;
}

.hebergements-cards img {
    width: 100%;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.hebergements-cards .card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-rating .fa-xs {
    font-size: 13px;
}

.hebergements-cards .card-title {
    margin-bottom: 4px;
    padding: 0 0 5px 10px;
    white-space: nowrap;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    padding: 0 0 10px 10px;
    font-size: 14px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    padding: 0 0 10px 10px;
}

.afficher-plus h2 {
    font-size: 18px;
    margin: 0;
}

.afficher-plus a {
    text-decoration: none;
    color: black;
}


/****** Populaires ***********/

.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    justify-content: space-around;
}

.populaires-cards .card {
    display: flex;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 16px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.populaires-cards .card-txt h3.card-title:nth-child(2) {
    display: none;
}

.populaires-cards .card:nth-child(1) .card-subtitle:nth-of-type(2) {
    display: none;
}



/******* Activités **********/

.activites {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}

.activites-cards {
    display: flex;
    gap: 30px;

}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
}


.activites-cards img{
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}

.activites-cards .card-content {
    display: flex;
    justify-content: flex-start;
    padding: 5px 19px 5px 19px;
    
}

.activites-title h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/******* Footer ********/

footer {
    background-color: #F2F2F2;
    width: 100%;

}

.contenu-footer {
    display: flex;
}

.footer-apropos {
    padding: 20px;
    width: 30%;
}

.footer-hebergements {
    padding: 20px;
    width: 30%;
}

.footer-assistance {
    padding: 20px;
    width: 30%;
}

.footer-apropos ul {
    padding: 0%;
    margin: 0%;
}

.footer-hebergements ul {
    padding: 0%;
    margin: 0%;
}

.footer-assistance ul {
    padding: 0%;
    margin: 0%;
}


.footer-apropos ul li {
    padding-bottom: 15px;
}

.footer-hebergements ul li {
    padding-bottom: 15px;
}

.footer-assistance ul li {
    padding-bottom: 15px;
}

.contenu-footer h2 {
    font-size: 18px;
    margin: 0%;
    padding-bottom: 15px;
}

.contenu-footer a {
    text-decoration: none;
    color: black;
}
   

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

@media screen and (max-width: 1440px) {
    .body {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-container {
        width: 100%;
        max-width: 1440px;
    }
}


/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {
    

    .research {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       
    }

    /****** Filters ************/

    .filters {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .filters h2 {
        margin: 0;
    }

    .filters-choice {
        display: flex;
        flex-direction: row;
    }

    .filters-txt {
        font-size: 16px;
    }
    

    /****** Hebergements and populaires ************/

    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }


    /****** Hebergements ************/

    .hebergements {
        width: 100%;
    }


    /****** Populaires ************/

    .hebergements-and-populaires .populaires {
        width: 100%;
        gap: 20px;
    }

    .populaires .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .populaires-cards .card:nth-child(1) .card-txt h3.card-title:nth-child(1) {
        display: none;
    }
    
    .populaires-cards .card:nth-child(1) .card-subtitle:nth-of-type(1) {
        display: none;
    }

    .populaires-cards .card:nth-child(1) .card-txt h3.card-title:nth-child(2) {
        display: flex;
    }
    
    .populaires-cards .card:nth-child(1) .card-subtitle:nth-of-type(2) {
        display: flex;
    }

    .populaires-cards .card {
        width: 31%;
    }



    /****** Activites ************/

    .activites-cards {
        padding: 0;
    }

    .activites-title h1 {
        margin: 0;
    }

    .activites-cards .card {
        margin-top: 0;
    }

    .activites-cards img{
        height: 200px;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .activites-cards .card-title {
        margin : 20px 0px;
    }

    .activites-cards .card:nth-child(3) .card-title {
        margin: 10px 0;
    }


    .activites-cards .card:nth-child(4) .card-title {
        margin: 10px 0;
    }


}


/* Small devices (phones, less than 768px) */
@media screen and (max-width: 767.98px) {

    body {
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .main-container {
        padding: 0px;
        width: 100%;
        gap: 30px;
        
    }


    /****** Header ************/

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    /****** Logo ************/

    .logo {
        padding: 30px;
        display: flex;
        justify-content: center;
        width: 100%;
    }


    /****** Menu ************/

    .menu {
        width: 100%;
    }

    .menu ul {
        padding-left: 0;
        margin: 0;
    }

    .menu ul li:last-child {
        margin: 0;
    }

    .menu ul li {
        display: flex;
        justify-content: center;
        width: 50%;
        margin: 0;
        }

    .menu a {
        padding-bottom: 1em;
        padding-top: 0;
    
    }

    .menu a:hover {
        color: #0065FC;
        background-size: 100% 0.15em;
        border-bottom-style: solid;
        border-top-style: none;
        width: 100%;
        justify-content: center;
    }

    .research {
        padding: 0px 20px;
    }


    /****** Filters ************/

    .filters-choice {
        display: flex;
        flex-direction: column;
        width: 100%;
    
    }

    .filters-bloc-1 {
        width: 100%;
        gap: 10px;
    }

    .filters-bloc-2 {
        width: 100%;
        gap: 10px;
    }

    .filters-config {
        width: 100%;
        padding: 13px 0px 11px 20px;
        border: 2px solid #d9d9d9;
        border-radius: 25px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
    }

    .filters-config i {
        font-size: 21px;
    }

    .filters-txt {
        font-size: 14px;
    }

    /****** Formulaire ************/

    .formulaire input[type="submit"] {
        display: none;
    }

    .formulaire i.fa-location-dot {
        width: 75px;
    }
    

    .formulaire input[type="search"] {
        width: 100%;
        height: 49px;

    }

    .formulaire button {
        background-color: #0065FC;
        height: 49px;
        width: 49px;
        border-radius: 15px;
        padding: 15px 15px 16px 16px;
        border: none;
        display: flex;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        font-size: 16px;
        align-items: center;
    }


    /****** Hebergements and populaires ************/ 

   .hebergements-and-populaires section {
        padding: 30px 20px;
        border-radius: 0;
        gap: 15px;
        display: flex;
        flex-direction: column;
   }

   .hebergements-and-populaires {
        gap: 15px;
   }


    /****** Hebergements ************/

    .hebergements {
        order: 2;
        background-color: transparent;
        padding: 10px;
       
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .hebergements-cards .card {
        width: 98%;
        margin: 0;
    }

    .hebergements-cards .card:nth-child(1) {
        order: 1;
    }
      
    .hebergements-cards .card:nth-child(2) {
        order: 6;
    }

    .hebergements-cards .card:nth-child(3) {
        order: 3;
    }
    .hebergements-cards .card:nth-child(4) {
        order: 4;
    }
      
    .hebergements-cards .card:nth-child(5) {
        order: 2;
    }

    .hebergements-cards .card:nth-child(6) {
        order: 5;
    }

    .hebergements-cards .card-rating i {
        font-size: 15px;
    }

    .afficher-plus h2 {
        padding-top: 0;
    }


    /****** Pupulaires ************/

    .populaires {
        order: 1;

    }

    .hebergements-and-populaires .populaires {
        width: 100%;
        gap: 15px;
    }

    .hebergements-and-populaires .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
    }

    .populaires-cards .card {
        width: 97%;
    }


    /****** Activities ************/

    .activites-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 0;
        gap: 15px;
    }

    .activites-cards .card {
        margin-top: 0;
    }

    .activites-cards img {
        height: 141px;
    }

    .activites-cards .card-content {
        padding: 20px 19px;
    }

    .activites-cards .card:nth-child(3) .card-title {
        margin: 0;
    }


    .activites-cards .card:nth-child(4) .card-title {
        margin: 0;
    }
    
    .activites-cards .card-title {
        margin: 0;
    }



    /****** Footer ************/

    .contenu-footer {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 30px;
    }

    .footer-apropos {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    
    .footer-hebergements {
        width: 100%;
        padding: 0;
    }
    
    .footer-assistance {
        width: 100%;
        padding: 0;
    }

    .footer-apropos ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .footer-hebergements ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .footer-assistance ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .footer-apropos ul li {
        padding-left: 0;
        padding-bottom: 0px;
    }
    
    .footer-hebergements ul li {
        padding-left: 0;
        padding-bottom: 0px;
    }
    
    .footer-assistance ul li {
        padding-left: 0;
        padding-bottom: 0px;
    }






}
